@font-face {
    font-family: spaceGrotesk;
    src: url(https://35.178.80.94:3000/client/fonts/SpaceGrotesk-Regular.woff);
    font-weight: regular;
  }

body {
    margin: 0;
    font-family: spaceGrotesk;
}

.container {
    padding: 0 50px;
    height: 100vh;
    background-color: #fdf6e3;
}

.header {
    background-color: #d9d2c2;
    padding: 2px;
}
