@font-face {
    font-family: spaceGrotesk;
    src: url(https://35.178.80.94:3000/src/client/fonts/SpaceGrotesk-Regular.woff);
    font-weight: regular;
  }

body {
    font-family: spaceGrotesk;
    color: #121212;
}

button {
    font-family: spaceGrotesk;
    color: #121212;
    background-color: white;
    border: 2px solid;
    border-color: #121212;
}

button:hover {
    background-color: #fc5c65;
    border-color: #fc5c65;
}

button:active {
    background-color: #eb3b5a;
    border-color: #eb3b5a;
}

.container {
    padding: 0 50px;
    height: 100vh;
    background-color: #fdf6e3;
}

.header {
    background-color: #d9d2c2;
    padding: 2px;
}

.panels {
    display: flex;
    flex-direction: row;
}

#chatOptions {
    width:300px;
}

#chatBox {
    width: 100%;
}

#chatInfo {
    width: 10%;
}

#heading {
    align-self: start;
}